html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  font-size: 62.5%;
}


@media all and (max-width: 998px){
  html{
    font-size: 55%;
  }
  #mobile-nav{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.905);
    width: 100%;
    margin-top: 9rem;
    position: fixed;
    display: block;
    text-align: center;
    right: -100%;
    transition:all 0.5s ease;
    
  }
  #mobile-nav a {
    display: block;
    margin-top: 9rem;
    font-size: 3rem;
  }
  #menu-button-id{
    height: 5rem;
    width: 5rem;
    margin-top: 2rem;
    margin-right: 2rem;
    z-index: 8;
    display: block;
  }
  #menu-button-id:hover{
    cursor: pointer;
  }

  #check:checked ~ #mobile-nav{
    right: 0%;
  }
}

@media all and (max-width: 768px){
  html{
    font-size: 45%;
  }
}


::-webkit-scrollbar {
  display: none;
}


body{
  margin: 0;
  font-family: montserrat, Arial;
  color:white;
  padding: 0;
 
}


a{
  margin-right: 4rem;
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.6rem;
}


a:hover{
  cursor: pointer;
  opacity: 0.8;
}


.header{
  height: 9rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: red;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 5;
}


.left-section{
  align-items: center;
  display: flex;
  flex-direction: row;
}


.right-section{
  align-items: center;
  display: flex;
  flex-shrink: 0;
}
.menu-button{
  display: none;
}


.logo-picture{
  height: 5rem;
  width: 5rem;
  border-radius: 2.5rem;
  margin-right: 2rem;
  margin-left: 2rem;
}


.logo-text{
  font-size: 2rem;
  font-weight: bold;
  color: white;
  width: 19.3rem;
}


.logo-text:hover{
  opacity: 1;
}


.profile-picture{
  height: 30rem;
  border-radius: 20rem;
  border-width: 1rem;
  border: solid;
  border-color:white;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.home-page{
  height: calc(100vh - 16rem);
  background-color: black;
  padding-top: 16rem;
  position: relative;
  z-index: 0;
  scroll-snap-align: start;
}


.scroll-denote{
height: 0.1rem;
width: 100%;
position: absolute;
bottom: 8.9rem;
z-index: 0;

scroll-snap-align: start;
}


.profile-name{
  margin: auto;
  color: white;
  font-size: 6.4rem;
  text-align: center;
  margin-top: 3rem;
}


.about-section{
  background-color: skyblue;
  height: calc(100vh - 8.9rem);
  width: 100%;
  z-index: 1;
  color: black;
  position: relative;
}


.gallery-section{
  background-color: lightgoldenrodyellow;
  height: calc(100vh - 8.9rem);
  width: 100%;
  z-index: 1;
  color: black;
  position: relative;
}


.hobby-section{
  background-color: lightpink;
  height: calc(100vh - 8.9rem);
  width: 100%;
  z-index: 1;
  color: black;
  position: relative;
}


.contact-section{
  background-color: lightgreen;
  height: calc(100vh - 8.9rem);
  width: 100%;
  z-index: 1;
  color: black;
  position: relative;
}


.container{
  display: flex;
  flex-direction: column;
}


.divider-line{
  height: 0.6rem;
  width: 15rem;
  margin: 0;
  padding: 0;
  border-radius: 0.3rem;  
  background-color: white;
  display: inline-block;
  flex-shrink: 0;
}


.divider-star{
  color: white;
  font-size:5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  text-align: center;
  display: inline-block;
}


.divider{
  margin:auto;
  text-align: center;
  display: block;
  width: 37rem;
  align-items: center;
  display: flex;
  margin-bottom: 2rem;
}


.bio-text{
  font-weight: 500;
  margin: auto;
  color: white;
  text-align: center;
  font-size: 2.4rem;
}