/* general css */


html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  font-family: Montserrat, Arial;
  margin: 0;
  margin-bottom: 3000px;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

/* end of general css */



/* ----------nav bar------------ */

#nav-bar-id{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
.nav-bar{
  background-color: rgba(7, 4, 4, 0.652);
  height: 8rem;
  display: flex;
  justify-content: space-between;
}

.logo-picture{
  height: 4.5rem;
  border-radius: 4.5rem;
  margin-left: 2rem;
}

.left-section{
  display: flex;
  align-items: center;
  float: left;
}

.right-section{
  display: flex;
  align-items: center;
  float: right;
  flex-shrink: 0;
  margin-right: 0rem;
}
#nav-bar-id .left-section a{
  font-size: 2rem;
  margin-left: .5rem;
}

#nav-bar-id a{
  font-size: 1.6rem;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  color: white;
  padding: 1rem;
  border-radius: .7rem;
  margin-right: 1.2rem;
}

#nav-bar-id a:hover{
background-color: rgba(255, 255, 255, 0.155);
}
#nav-bar-id .left-section a:hover{
  background-color: transparent;
}

#nav-bar-id input[type="checkbox"]{
  display: none;
}

#nav-bar-id label{
  display: none;
  cursor: pointer;
}



/*------- end of nav bar----------- */

/* ---------home page------------- */

.home-section{
  background-image: linear-gradient(to bottom, rgba(40, 40, 42, 0.52), rgba(0, 0, 0, 0.73)), url("img/home-bg-2.jpg");
  padding-top: 8rem;
  height: 100%;
  padding-bottom: 5rem;
  background-repeat: no-repeat;
  background-size: cover;
}


.profile-image{
  height: 25rem;
  border-radius: 15rem;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#home h1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 3.0rem;
  margin-bottom: 0;
}

.divider-line{
  height: 0.3rem;
  width: 10rem;
  margin: 0;
  padding: 0;
  border-radius: 0.3rem;  
  background-color: white;
  display: inline-block;
  flex-shrink: 0;
}


.divider-star{
  color: white;
  font-size:2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  text-align: center;
  display: inline-block;
}


.divider{
  margin:auto;
  text-align: center;
  width: 26rem;
  align-items: center;
  display: flex;
}

.bio-text{
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: .2rem;
  font-weight: 500;
}

/* ------end of home page--------- */




/*-------- Media query---------- */


@media screen and (max-width:900px) {
  .right-section{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.905);
    margin-top: 5.7rem;
    position: fixed;
    display: block;
    text-align: center;
    right: -100%;
    transition:all 0.5s ease;
    width: 100vw;
  }

  #nav-bar-id .right-section a{
    font-size: 2rem;
    margin-left: .5rem;
    display: block;
  }
  #nav-bar-id .left-section a{
    font-size: 1.5rem;
    margin-left: .3rem;
  }

  #nav-bar-id .nav-bar label{
    display: flex;
    height: 4rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1rem;
  }
  .nav-bar{
    height: 5.7rem;
  }

  .logo-picture{
    height: 4rem;
    border-radius: 4.5rem;
    margin-left: 1rem;
    margin-right: 0rem;
  }
  

  #nav-bar-id input[type="checkbox"]:checked~.right-section{
    right: 0%; 
    
  }
}


  @media screen and (min-width:900px) and (max-width:1200px) {
    html{
      font-size: 65%;
    }

    #home h1{
      font-size: 4.2rem;
    }

    .right-section{
      height: 100%;
      background-color: rgba(0, 0, 0, 0.905);
      margin-top: 6rem;
      position: fixed;
      display: block;
      text-align: center;
      right: -100%;
      transition:all 0.5s ease;
      width: 100vw;
    }
  
    #nav-bar-id .right-section a{
      font-size: 2rem;
      margin-left: .5rem;
      display: block;
    }
  
    #nav-bar-id .nav-bar label{
      display: flex;
      height: 4rem;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 1rem;
    }
    .nav-bar{
      height: 6rem;
    }
    #nav-bar-id input[type="checkbox"]:checked~.right-section{
      right: 0%; 
      
    }
   .bio-text{
      font-size: 1.7rem;
   
    }
    .logo-picture{
      height: 3.8rem;
    }
    .home-section{
      padding-top: 9rem;
    }
  }





  @media screen and (min-width:1200px) and (max-width:1500px) {
    html{
      font-size: 65%;
    }
    #home h1{
      font-size: 4.8rem;
    }
    .nav-bar{
      height: 6.5rem;
    }
    .home-section{
      padding-top: 8.5rem;
    }
  }


  @media screen and (min-width:1500px){

    html{
      font-size: 75%;
    }

    #home h1{
      font-size: 5rem;
    }
    .bio-text{
      font-size: 1.9rem;
   
    }

    .divider{
      width: 35rem;
    }
    .divider-line{
      width: 13rem;
    }
    .nav-bar{
      height: 7rem;
    }
    .home-section{
      padding-top: 12rem;
    }
  }
  
  
  /*----- end media query--------- */





